<div id="contact" class="footerContainer">
    <h1>Contact</h1>
    <div class="footerContent">
        <p class="h5">
            Feel free to contact me through any of the links below. Thanks for visiting and have a great day!
        </p>
        <a href="mailto:c29feng@uwaterloo.com">
            <fa-icon [icon]="faEnvelopeSquare"></fa-icon>
        </a>
        <a href="https://github.com/caesarfeng2001">
            <fa-icon [icon]="faGithub"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/caesar-feng/">
            <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
        
        
        
        
        
        
    </div>

    
        

</div>