<div id="page-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <h2><span id="about">About Me</span></h2>
                            <p> Hello! I am a 2nd year student at the University of Waterloo
                                pursuing a degree in Computer Science with a Business Specialization. I am currently
                                seeking software internship
                                opportunities for fall 2021, so please feel free to contact me with any related
                                information.
                            </p>
                            <p>
                                It wasn't until the year 2018 where my I developed an interest for the field of computer
                                science. After taking
                                a few highschool courses in Python and Java, consulting my dad whose been in the
                                industry for 30+ years,
                                and seeing the potential jobs I could end up working, I decided to pursue computer
                                science and haven't looked back since.
                            </p>
                            <p>
                                My journey so far has been full of learning and exploring. With every project I take on,
                                every internship I work at, i'm learning
                                more than I could ever imagine. Being able to solve real-world problems and create
                                software that directly impacts people's lives is
                                what motivates me to continue in this path.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="introImage">
                                <img class="img-fluid rounded" [src]="me" alt="Image">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                When I'm not focused on my academics or busy coding, you will most likely find me in the
                                gym either playing
                                basketball or weightlifting.
                                I also have keen interests in fashion and traveling. I'm always down to chat about these topics or others, 
                                so please reach out!
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <img class="img-fluid rounded" [src]="mom" alt="Image">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <img class="img-fluid rounded" [src]="quebec" alt="Image">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <img class="img-fluid rounded" [src]="basketball" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2><span id="experience">Experience</span></h2>
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-card class="exp-card" appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">
                                <mat-card-header>
                                  <div mat-card-avatar class="example-header-image"></div>
                                  <mat-card-title>Royal Canadian Air Force</mat-card-title>
                                  <mat-card-subtitle>Full Stack Developer</mat-card-subtitle>
                                  <mat-card-subtitle>Jan-May 2021</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image class="cardIMG" [src]="flightdeck" alt="Photo">
                                
                                <mat-card-content>
                                    <p>
                                        Worked with the Flight Deck innovation team to develop software using full stack technologies.
                                        Focused on the development of the new Canadian Beacon Registry website.
                                      </p>
                                </mat-card-content>
                              </mat-card>
                              
                        </div>
                        <div class="col-md-6">
                            <mat-card class="exp-card" appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">
                                <mat-card-header>
                                  <div mat-card-avatar class="example-header-image"></div>
                                  <mat-card-title>SaFuture Inc.</mat-card-title>
                                  <mat-card-subtitle>Software Engineer</mat-card-subtitle>
                                  <mat-card-subtitle>May-Sept 2020</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image class="cardIMG" [src]="safutureLogo" alt="Photo">
                                
                                <mat-card-content>
                                  <p>
                                    Lead developer in charge of developing and delivering 4 GIS-related software applications to ERIS. Worked in a 
                                    full stack environment with a focus on front end.
                                    
                                  </p>
                                </mat-card-content>
                              </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row projects">
            <div class="col-md-12">
                <h2><span id="projects">Projects</span></h2>
                <div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-card class="exp-card" appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">
                                <mat-card-header>
                                  <div mat-card-avatar class="example-header-image"></div>
                                  <mat-card-title>Canadian Beacon Registry</mat-card-title>
                                  <mat-card-subtitle>Jan-May 2021</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image class="projectCardIMG" [src]="cbr" alt="Photo">
                                <!--
                                <mat-card-content>
                                  <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                    bred for hunting.
                                  </p>
                                </mat-card-content>
                                
                                <mat-card-actions>
                                  <button mat-button>LIKE</button>
                                  <button mat-button>SHARE</button>
                                </mat-card-actions>
                                -->
                              </mat-card>
                              
                        </div>
                        <div class="col-md-4">
                            <mat-card class="exp-card" appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">
                                <mat-card-header>
                                  <div mat-card-avatar class="example-header-image"></div>
                                  <mat-card-title>Gas Station/Dry Cleaner Search</mat-card-title>
                                  <mat-card-subtitle>May-Sept 2020</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image class="projectCardIMG" [src]="ocr" alt="Photo">
                                <!--
                                <mat-card-content>
                                  <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                    bred for hunting.
                                  </p>
                                </mat-card-content>
                                
                                <mat-card-actions>
                                  <button mat-button>LIKE</button>
                                  <button mat-button>SHARE</button>
                                </mat-card-actions>
                                -->
                              </mat-card>
                              
                        </div>
                        <div class="col-md-4">
                            <mat-card class="exp-card" appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">
                                <mat-card-header>
                                  <div mat-card-avatar class="example-header-image"></div>
                                  <mat-card-title>ERIS Mobile Checklist</mat-card-title>
                                  <mat-card-subtitle>May-Sept 2020</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image class="projectCardIMG" [src]="eris" alt="Photo">
                                <!--
                                <mat-card-content>
                                  <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                    bred for hunting.
                                  </p>
                                </mat-card-content>
                                
                                <mat-card-actions>
                                  <button mat-button>LIKE</button>
                                  <button mat-button>SHARE</button>
                                </mat-card-actions>
                                -->
                              </mat-card> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-card class="exp-card" appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">
                                <mat-card-header>
                                  <div mat-card-avatar class="example-header-image"></div>
                                  <mat-card-title>Where Are We In Space</mat-card-title>
                                  <mat-card-subtitle>Jan-Feb 2020</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image class="projectCardIMG" [src]="where" alt="Photo">
                                <!--
                                <mat-card-content>
                                  <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                    bred for hunting.
                                  </p>
                                </mat-card-content>
                                
                                <mat-card-actions>
                                  <button mat-button>LIKE</button>
                                  <button mat-button>SHARE</button>
                                </mat-card-actions>
                                -->
                              </mat-card>
                              
                        </div>
                        <div class="col-md-4">
                            <mat-card class="exp-card" appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">
                                <mat-card-header>
                                  <div mat-card-avatar class="example-header-image"></div>
                                  <mat-card-title>Gas Station/Dry Cleaner Search</mat-card-title>
                                  <mat-card-subtitle>May-Sept 2020</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image class="projectCardIMG" [src]="ocr" alt="Photo">
                                <!--
                                <mat-card-content>
                                  <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                    bred for hunting.
                                  </p>
                                </mat-card-content>
                                
                                <mat-card-actions>
                                  <button mat-button>LIKE</button>
                                  <button mat-button>SHARE</button>
                                </mat-card-actions>
                                -->
                              </mat-card>
                              
                        </div>
                        <div class="col-md-4">
                            <mat-card class="exp-card" appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">
                                <mat-card-header>
                                  <div mat-card-avatar class="example-header-image"></div>
                                  <mat-card-title>Apocalypse Rising</mat-card-title>
                                  <mat-card-subtitle>Apr-Jun 2019</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image class="projectCardIMG" [src]="apoc" alt="Photo">
                                <!--
                                <mat-card-content>
                                  <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                    bred for hunting.
                                  </p>
                                </mat-card-content>
                                
                                <mat-card-actions>
                                  <button mat-button>LIKE</button>
                                  <button mat-button>SHARE</button>
                                </mat-card-actions>
                                -->
                              </mat-card> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>